/* template designed by prasad Bedre */

/*navbar*/

nav li a:hover {
    cursor: pointer;
}

/*contact button*/

.btnx:hover {
    transform: scale(1.2);
    transition: 400ms;
    cursor: pointer;
}

.btnx:active {
    transform: scale(0.7);
    transition: 500ms;
}

/*header**/

.primary-header:hover {
    transition: ease-in-out;
    transform: scale(1.2);
    transition-duration: 300ms;
}

/* template designed by prasad Bedre */

/*project grid*/

.project-grid:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    transition-duration: 300ms;
    cursor: pointer;
}

/*nav-items*/

.navlist a:hover {
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: 300ms;
}

/* template designed by prasad Bedre */